<%- include("partials/header.ejs") %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container aos-init aos-animate" data-aos="fade-in">
        <h1>Welcome to D'accord!</h1>
        <h2>“Yes to outstanding service, a service with a difference, a service to our client’s
                    satisfaction.”</h2>
        <div id="get-started-link" class="d-flex align-items-center">
            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
            <a href="#about" class="btn-get-started scrollto">About us</a>
        </div>
    </div>
</section>

<main
    id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-5 aos-init aos-animate" data-aos="fade-up">
                    <div class="content">
                        <h3>Why is D'accord Inspection Solutions the best choice for you company?</h3>
                        <p>
                            Daccord Inspection Solutions Zambia limited is an industry leader in surveys and inspections. Handling hundreds of inspection works annually both locally and across borders. We specialize in accident scene inspection, stock inspection and machinery damage assessment – providing you with concise actionable reports that help you deal with incidents effectively.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Learn More
                                <i class="bx bx-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bxs-car-crash"></i>
                                    <h4>Accident scene inspection</h4>
                                    <p>
                                        We conduct inspections of road accident scenes to gather knowledge of accident cause and compile a damage report.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-clipboard"></i>
                                    <h4>Stock inspection</h4>
                                    <p>
                                        We carry out warehouse inspection services to assess stock quantity and storage conditions. Helping you ensure that storage facilities are at optimal conditions.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="icofont-broken"></i>
                                    <h4>Damage assessment</h4>
                                    <p>
                                        We conduct machinery assessment services of industrial machinery. Ensuring that all equipment is operating effectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">

                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                    <a href="" class="venobox mb-4"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h4 data-aos="fade-up">About us</h4>
                    <h3 data-aos="fade-up">Who are D'accord Inspection Solutions?</h3>
                    <p data-aos="fade-up">
                        D’accord Inspection Solutions Limited is a Zambian company dedicated to delivering world class Inspection Services and Cargo Survey Services both locally and across borders. Since the companies establishment in May 2020 D’accord Inspection Solutions Limited has had the privilege of conducting hundreds of Inspection and Surveys works in Zambia, Malawi, Zimbabwe and the Democratic Republic of Congo (DRC).
                    </p>
                    <p data-aos="fade-up">
                        We pride ourselves on our exceptional service delivery and we keep on perfecting it. To learn more about our services or book a one on one with our Managing Director Mr.
                        <a href="#team">Rennie Kayula</a> contact us through the <a href="/#contact">form</a> below.
                    </p>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon">
                            <i class="bx bx-glasses"></i>
                        </div>
                        <h4 class="title">
                            <a href="/services#inspection">Inspection Services</a>
                        </h4>
                        <p class="description">
                            We carry out Warehouse Inspection, Stock Audits, Loading and Offloading super attendance, Sampling and Laboratory analysis.
                        </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon">
                            <i class="bx bx-book"></i>
                        </div>
                        <h4 class="title">
                            <a href="/services#survey">Survey Services</a>
                        </h4>
                        <p class="description">
                            We conduct; Damage Assessment, Road accident & Theft Investigations, Market search & Salvage Sale and Facilitation of repairs.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h1  class="mb-3" >Services</h1>
                
                <h3>Cargo Survey Services</h3>
                <p>Damage Assessment, Road accident & Theft Investigations, Market search & Salvage sale, Facilitation of repairs.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icofont-computer"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Discharge Supervision of Cobalt Hydroxide</a>
                        </h4>
                        <img src="/assets/img/discharge_supervision_of_cobalt_hydroxide.png" class="rounded mx-auto d-block" alt="discharge_supervision_of_cobalt_hydroxide by D'accord Inspection Solutions">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icofont-chart-bar-graph"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Damage Assessment of a Broken Transformer</a>
                        </h4>
                        <img src="/assets/img/damage_assessment_of_broken_transformer.png" class="rounded mx-auto d-block" alt="damage_assessment_of_machine_at_underground_mine by D'accord Inspection Solutions">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icofont-earth"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Damage Assessment of Mining Equipment</a>
                        </h4>
                        <img src="/assets/img/damage_assessment_of_mining_equipment.png" class="rounded mx-auto d-block" alt="stock_audit_of_copper_cathodes by D'accord Inspection Solutions">
                    </div>
                </div>
            </div>


            <div class="section-title" data-aos="fade-up">
                <br>
                <h3>Inspection Services</h3>
                <p>Warehouse Inspection, Stock Audits, Loading and Offloading superintendence, Sampling and Laboratory Analysis.</p>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icofont-image"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Damage Assessment of Soaked Medicine</a>
                        </h4>
                        <img src="/assets/img/damage_assessment_of_soaked_medicine.png" class="rounded mx-auto d-block" alt="damage_assessment_of_machine_at_underground_mine by D'accord Inspection Solutions">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icofont-settings"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Damage Assessment of underground Mining machine</a>
                        </h4>
                        <img src="/assets/img/damage_assessment_of_machine_at_underground_mine.png" class="rounded mx-auto d-block" alt="damage_assessment_of_machine_at_underground_mine by D'accord Inspection Solutions">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icofont-tasks-alt"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Stock Audit of Copper Cathodes</a>
                        </h4>
                        <img src="/assets/img/stock_audit_of_copper_cathodes_1.png" class="rounded mx-auto d-block" alt="stock_audit_of_copper_cathodes_1 by D'accord Inspection Solutions">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Services Section -->


    <% if (newsletters.length > 0) { %>

        <!-- ======= Values Section ======= -->
        <section id="values" class="values">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <br>
                    <h1>News</h1>
                </div>

                <div class="row">

                    <% newsletters.forEach(newsletter => { %>

                        <div class="col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up">
                            <div class="card" style="background-image: url('<%= newsletter.image %>');">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href=""><%= newsletter.title %></a>
                                    </h5>
                                    <p class="card-text"><%= newsletter.description %></p>
                                    <div class="read-more">
                                        <a href="/newsletters/<%= newsletter.slug %>">
                                            <i class="icofont-arrow-right"></i>
                                            Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                    
                    <% }); %>

                </div>

            </div>
        </section>
        <!-- End Values Section -->

    <% } %>


    <% if (testimonials.length > 0) { %> 
    
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">
                <div class="owl-carousel testimonials-carousel">

                    <% testimonials.forEach(testimonial => { %>

                        <div class="testimonial-item">
                            <h3><%= testimonial.name %></h3>
                            <h4><%= testimonial.position %></h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    <%= testimonial.remarks %>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                    <% }); %> 

                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->

    <% } %>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Team</h2>
                <p data-aos="fade-up">
                    At D'accord our corporate culture if defined around exceptional service delivery and our client’s satisfaction. We rely on each other and support each other working as a single autonomous body to offer you the best service, get in touch with us anytime, we are excited to hear from you.
                </p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/Rennie Kayula CEO.jpeg" class="img-fluid" alt="Rennie Kayula Daccord Inspection Solutions">
                            <div class="social">
                                <a href="mailto:rennie@daccordinspections.com">rennie@daccordinspections.com</a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rennie Kayula</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/Tiza Chilekwa administrative director.jpeg" class="img-fluid" alt="Tiza Chilekwa Daccord Inspection Solutions">
                            <div class="social">
                                <a href="mailto:tiza@daccordinspections.com">tiza@daccordinspections.com</a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Tiza Chilekwa</h4>
                            <span>Administrative Director</span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/Mr Kalikene Mwambelo head of operations malawi.jpeg" class="img-fluid" alt="Kalikene Mwambelo Daccord Inspection Solutions">
                            <div class="social">
                                <a href="mailto:kalikene@daccordinspections.com">kalikene@daccordinspections.com</a>
                                <a href="">
                                    <i class="icofont-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="icofont-instagram"></i>
                                </a>
                                <a href="">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Kalikene Mwambelo</h4>
                            <span>Head of Operations Malawi</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div
                            class="member-img">
                            <img src="assets/img/team/image.jpg" class="img-fluid" alt="Lilian Tembo Daccord Inspection Solutions">
                        </div>
                        <div class="member-info">
                            <h4>Lilian Tembo</h4>
                            <span>Field Supervisor & Board Member</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section -->


    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">F.A.Q</h2>
                <p data-aos="fade-up">
                    These are question we have often received from our clients and we hope our answers can help resolve your query, if you still have a question, feel free to send us a message through the contact form below. We are excited to hear from you!
                </p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-toggle="collapse" class="collapse" href="#faq-list-1">
                            Where are you located?
                          <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                            <p>
                              We are located in Zambia but we also operate in Malawi, Zimbabwe and Congo DRC.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-toggle="collapse" href="#faq-list-2" class="collapsed">
                              What services do you offer?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                            <p>
                              We offer Inspection and Survey services, including Warehouse Inspection, Stock audits, Damage Assessments and Road Accident & Theft Investigations.                             
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-toggle="collapse" href="#faq-list-3" class="collapsed">
                            	How fast can get to an accident site?
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                            <p>
                              Our team is trained to promptly respond to your call and we can start travelling to the site as soon as you give us details on the location.                            
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i>
                        <a data-toggle="collapse" href="#faq-list-4" class="collapsed">
                              How can I get in touch with you?                            
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                            <p>
                              You can email us through <a style="display: inline-block; margin: 0; padding: 0;" href="mailto:rennie@daccordinspections.com">rennie@daccordinspections.com</a> or call any of the numbers below.                            
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Contact</h2>
                <p data-aos="fade-up">
                    We are here to respond to all your queries. Get in touch with us through the contact form below, we look forward to hearing from you!                
                </p>
                </div>

            <div class="row justify-content-center">

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <br>
                        <p>Plot No 125/13 Paradise, Twikatane Road, Lusaka, Zambia</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <br>
                        <p class="mb-1"><a href="mailto:rennie@daccordinspections.com">rennie@daccordinspections.com</a></p>
                        <br>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <br>
                        <p>+26(0) 978212123<br>+26(0) 211 356535,</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="/contact" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading" style="display: none;">Loading</div>
                            <div class="error-message" style="display: none;">There was a problem sending your message. Please try again.</div>
                            <div class="sent-message" style="display: none;">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        
        <script>
            const form = document.querySelector(".php-email-form");
            const loadingMessage = document.querySelector(".loading");
            const errorMessage = document.querySelector(".error-message");
            const successMessage = document.querySelector(".sent-message");

            form.addEventListener("submit", async (e) => {
                e.preventDefault();

                loadingMessage.style.display = "block";
                errorMessage.style.display = "none";
                successMessage.style.display = "none";

                const formData = new FormData(form);
                const data = {};
                formData.forEach((value, key) => (data[key] = value));

                try {
                    const response = await fetch("/contact", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    });

                    if (response.ok) {
                        successMessage.style.display = "block";
                        form.reset();
                    } else {
                        errorMessage.style.display = "block";
                    }

                    loadingMessage.style.display = "none";
                } catch (error) {
                    console.error("Error sending the message:", error);
                    errorMessage.style.display = "block";
                    loadingMessage.style.display = "none";
                }
            });
        </script>

    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->

<%- include("partials/footer.ejs") %>
