<%- include("partials/header") %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>News</li>
        </ol>
        <h2>News</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <% if (newsletters.length > 0) { %> 

            <% newsletters.forEach(newsletter => { %>

              <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <article class="entry">
  
                  <div class="entry-img">
                    <a href="/newsletters/<%= newsletter.slug %>"><img src="<%= newsletter.image %>" alt="D'accord Inspection Solutions" class="img-fluid"></a>
                  </div>
  
                  <h2 class="entry-title">
                    <a href="/newsletters/<%= newsletter.slug %>"><%= newsletter.title %></a>
                  </h2>
  
                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><a href="/newsletters/<%= newsletter.slug %>"><%= newsletter.topic %></a></li>                    </ul>
                  </div>    

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"><a href="/newsletters/<%= newsletter.slug %>"></i><%= newsletter.createdAt %></a></li>
                    </ul>
                  </div> 
  
                  <div class="entry-content">
                    <p>
                      <%= newsletter.description %>
                    </p>
                    <div class="read-more">
                      <a href="/newsletters/<%= newsletter.slug %>">Read More</a>
                    </div>
                  </div>
  
                </article><!-- End blog entry -->
              </div>

            <% }); %>

          <% } else { %> 

            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
              <article class="entry">
                <div class="entry-content">
                  <p>
                    Sorry, We don't have any news yet.
                    <br>
                    <a href="/">Back Home</a>
                  </p>
                </div>

              </article><!-- End blog entry -->
            </div>
          
          <% } %>

        </div>

        <!-- 
        <div class="blog-pagination" data-aos="fade-up">
          <ul class="justify-content-center">
            <li class="disabled"><i class="icofont-rounded-left"></i></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
          </ul>
        </div> -->

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

<%- include("partials/footer") %>